body {
}

html
{
  background-color: rgba(10,12,24,1);
}

body
{
  box-sizing: border-box;
}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#myCanvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: absolute;
  border: 0px none black;
}

#canvas {
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
}